{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Task Manager{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <link rel="stylesheet" href="/static/styles/main.css"> -->
</head>
<body class="bg-gray-100">
  <header class="bg-blue-600 text-white py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
      <h1 class="text-2xl font-bold"><a href="/">Task Manager</a></h1>
      <nav>
        {% block navbar %}
        {% endblock %}
      </nav>
    </div>
  </header>
  <main class="container mx-auto py-6">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="text-center py-4 text-gray-600">
    © 2025 Task Manager. All rights reserved by W3ENGINEERSLTD.
  </footer>
  
</body>
</html>
